// google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$leadgen-font-regular: 'Open Sans', sans-serif;

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?12562011');
  src: url('../fonts/fontello.eot?12562011#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?12562011') format('woff2'),
       url('../fonts/fontello.woff?12562011') format('woff'),
       url('../fonts/fontello.ttf?12562011') format('truetype'),
       url('../fonts/fontello.svg?12562011#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="leadgen-icon-"]:before,
 [class*=" leadgen-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-variant: normal;
  text-transform: none;
  font-weight: 400;
  text-transform: none;
  font-size: 33px;
  color: $leadgen-icon-color;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.leadgen-icon-calendar {

  &:before { content: '\e900'; }
}

.leadgen-icon-end {

  &:before {
    font-size: 31px;
    content: '\e901';
  }
}

.leadgen-icon-mail {

  &:before { content: '\e902'; }
}
.leadgen-icon-name {

  &:before { content: '\e903'; }
}
.leadgen-icon-phone {

  &:before { content: '\e904'; }
}
.leadgen-icon-start {

  &:before { content: '\e905'; }
}
.leadgen-icon-route {

  &:before { content: '\e906'; }
}
.leadgen-icon-arrow {

  &:before { content: '\e907'; }
}

.leadgen-icon-validation {

  &:before {
    content: '\e908';
    font-size: 14px;
    color: $leadgen-orient;
  }
}
