// google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$leadgen-font-regular: 'Open Sans', sans-serif;

// icon fonts
$icomoon-font-path: "../fonts" !default;

$icon-calendar: "\e900";
$icon-end: "\e901";
$icon-mail: "\e902";
$icon-name: "\e903";
$icon-phone: "\e904";
$icon-start: "\e905";
$icon-route: "\e906";
$icon-arrow: "\e907";
$icon-validation: "\e908";

@font-face {
  font-family: 'icomoon';
  src:
          url('#{$icomoon-font-path}/icomoon.ttf?mkr9qg') format('truetype'),
          url('#{$icomoon-font-path}/icomoon.woff?mkr9qg') format('woff'),
          url('#{$icomoon-font-path}/icomoon.svg?mkr9qg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="leadgen-icon-"], [class*=" leadgen-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 33px;
  color: $leadgen-btn-bg;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leadgen-icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.leadgen-icon-end {
  font-size: 31px;
  &:before {
    content: $icon-end;
  }
}
.leadgen-icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.leadgen-icon-name {
  &:before {
    content: $icon-name;
  }
}
.leadgen-icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.leadgen-icon-start {
  &:before {
    content: $icon-start;
  }
}
.leadgen-icon-route {
  &:before {
    content: $icon-route;
  }
}
.leadgen-icon-arrow {
  &:before {
    content: $icon-arrow;
  }
}
.leadgen-icon-validation {
  &:before {
    content: $icon-validation;
  }
}